.questItem {
    margin-left: 1rem;
    margin-right: 1rem;
}
.questItem__title {
    cursor: pointer;
    font-size: large;
}
.questItem__status {}

.questItem__status-qualified {
    color: #091709;
}

.questItem__status-unqualified {
    color: maroon;
}

.questItem__icon {
    margin-right: 5px;
}